# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS metadata
.DS_Store
Thumbs.db

# Environments
.env
.venv
env/
venv/
ENV/
.streamlit/

# IDEs
.idea/
.vscode/
*.swp
*.swo
